.side-box {
    background-color: #f8f8f8;
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    margin: 0 0 5px;
    padding: 3px;
}

.side-box .h5, .side-box h5 {
    margin-bottom: 3px;
    margin-top: 3px;
}
.pager {
    margin: 3px 0;
}
